- content_for :greetings do
  Hey #{@user.name},

One of your friends, #{@wingman.name}, has clicked on the link to Game Show that you sent them.
%br
They are not one of your wingmen (you already have #{@user.wingman1.name} and #{@user.wingman2.name} as your two wingmen),  but we have awarded you 2 complementary credits to celebrate their joining the tournament.