%style= render :partial => "styles"

%br
.fbbody
  %h3 The first show that lets you feel the thrill of the clock, the lights, the audience and the big cash prizes from your own home. 
  Click
  %a{:href => ""} here
  to participate! 