#quiz_pass_popup.popup.hidden
  .wrapper
    .pointer.right
    .close
    .content
      %h3 Pass button
      Tip: remember that you have
      %span.number 2
      passes remaining. 
      Click on this button at any point to 'pass' a question. 
      Use them wisely!
      %a.next_step.fr{:href => '#'}
        Next
      .clear