#quiz_stats_popup.popup.hidden
  .wrapper
    .pointer.left
    .close
    .content
      %h3 Score panel
      %p This is where your score is displayed
      %p It also shows a bonus which we add on for wing-men you invite into the game. As  you havent invited any yet, this is currently set to an average.
      %p It also shows any friends close to your score, and the score you need to beat to be in line for some money
      %a.next_step.fr{:href => '#'}
        Continue to next question
      .clear