.title
  = fight.short_title
%a{:href=>fight.url} 
  .fight_thumb
    .floatleft
      %img{:src => fight.brand1.img(:tiny)}
    .vs
      vs
    .floatleft
      %img{:src => fight.brand2.img(:tiny)}