#ladders_nudge_popup.popup.hidden
  .wrapper
    .pointer.right
    .close
    .content
      %h3 Nudge your friend!
      
      Scores of your wingmen are added to your total score. Send your friends credits so they will play more games and try to help you to advance up the ladder!

      %a.next_step.fr{:href => '#'}
        Ok
      .clear