.contentPage
  %h2.title Privacy and cookie policy
  .content
    .article
      %h3.acticleTitle 1. INTRODUCTION
      %p
        %b PLEASE DO NOT SEND EMAILS OR REGISTER ON THE SITE IF YOU DO NOT WANT THAT INFORMATION TO BE PROCESSED BY US IN THE WAYS DESCRIBED BY THIS NOTICE. BY PROVIDING US WITH INFORMATION ON THE SITE, YOU CONSENT TO THE TRANSFER OF PERSONAL DATA AS DESCRIBED IN THE FOLLOWING POLICY
      %p Your privacy is important to us. This Privacy and Cookie Policy explains what information we collect about you and what we do with it. Please take a few minutes to read it.
      %p Game Show Ltd., trading as Game Show ("we") run this site www.gameshow.co.uk (the "Site") for visitors who wish to find out more about our business and for visitors who wish to purchase our products ("you") using this Site. We are registered with the UK Information Commissioner as a data controller and we try our best to comply with the Data Protection Act 1998.
      %p Your access, use of and submission of an order via the Site constitutes your explicit consent to the collection, use and transfer of your personal data, in the manner described in this Privacy & Cookie Policy ("the Policy"). If you disagree with the way we process data collected on the Site, we recommend that you do not use the Site. If you wish to obtain further information about us and/or the contents of this Privacy and Cookie Policy, you can contact us by email, post or telephone.
  
    .article    
      %h3.acticleTitle 2. WHAT TYPE OF DATA DO WE COLLECT ABOUT YOU?
      %p
        Personal data relating to Internet users viewing the Site may be collected through the Site on each of the following occasions:
        %ol
          %li data regarding navigation may be collected by our web servers or by cookies when you are browsing the Site;
          %li data regarding your identity and email address may be collected when you send an email (to info@gameshow.co.uk) to us or take part in a live chat with us through the Site (if you choose to do so).
          %li data regarding your identity may be collected by the Site on registration for online gaming; and
          %li data regarding your identity or other supporting information that you provide to us, whether by email, telephone, fax or post.
          %li Upon collection the personal data will be stored for as long as is reasonably necessary to provide services, including after sales services to you.
  
    .article
      %h3.acticleTitle 3.WHAT IS A COOKIE?
      %p
        A cookie is a tiny element of data that is stored on your computer's hard drive by your web browser when you access a website. The Site makes use of the following types of cookie technology:
        %ol
          %li A "Session cookie", which contains a random ID number automatically allocated to your computer by the webserver for the duration of your visit. It is meant to make your use of the Site faster and easier. It will be deactivated after thirty minutes of inactivity on the Site and will be automatically removed from your computer when you close your browser.
          %li A "Script generated cookie" is automatically allocated to your computer when you register to access any restricted areas of the Site and on each subsequent visit. It only contains an identifier which will enable the Site to identify you as a registered user so that you do not have to identify yourself again while you move from one server to another during your visit. It will remain on your computer after your visit until you remove it. It will be placed again at your next visit.
        %h4 Third-Party Cookies
        %p We may use third-party advertising companies or affiliates to display advertisements on our website. These third-party advertising companies or affiliates may separately place or recognise a cookie file on your browser in the course of delivering advertisements to the Site. We cannot see the information collected or stored in third party cookies. We do not provide personal data about you to these third party advertisers or affiliates or to any other third party.
        %p You do not have to agree to the use of cookies. For information on how to reject cookies, see below Removing and Disabling Cookies Section. However, in order to use the payment section of the Site, we recommend that you do not block the recording of cookies on your computer.
      
      %h3 4. REMOVING AND DISABLING COOKIES
      %p If you don’t want us to place cookies on your computer at all, you can set your browser to disable or reject cookies. This will mean that no websites will be able to place cookies on your computer. You can do this by adjusting the preferences within your browser. This may mean, however, that you will not be able to enjoy full use of all parts of the Site.
      %p If you want to remove previously-stored cookies, you can manually delete the cookies at any time. This will not prevent websites from placing further cookies on your computer.
      %p
        To find out exactly how to disable/remove, please go to 
        =link_to 'http://www.aboutcookies.org/default.aspx', 'http://www.aboutcookies.org/default.aspx'
        
    .article
      %h3.acticleTitle 5. WHAT WE DO WITH THE INFORMATION WE COLLECT ABOUT YOU
      %ol
        %li
          %h4 DATA COLLECTED BY WEB SERVERS AND COOKIES
          %p
            The web servers that serve the Site collect the IP address of users who visit the Site, their Site navigation information (page requested, time of request, browser type and server response) as well as the user name if the user has registered to any restricted areas of the site.
            This information is regularly aggregated and de-identified so that the number of visits to the Site and its pages, the average time spent on the Site and the pages viewed, etc., can be measured and analysed to improve our product offerings and marketing approach and to improve the Site's content and functionality. This information will not be used to create individual visitors' profiles. We will not track the individual navigation of visitors, except in the very limited cases where a visitor faces navigation problems which require a technical intervention to correct the problem or to detect potential intrusions.
        %li
          %h4 DATA COLLECTED ON SENDING AN EMAIL TO THE OWNER
          %p
            You may want to send an email to us through the Site. By doing so, you will provide us with basic information about yourself, such as your email address, telephone numbers, your name, your query.
            We will not use the information you provide when sending us emails for purposes other than responding to your message, handling your query or analysing your feedback and/or suggestions and for improving the Site.
            Except if provided to others, as set out below, the supplied data will be kept on the Site’s secured servers and computer systems, protected from outside intrusions.
      
        %li    
          %h4 DATA COLLECTED THROUGH SUBMISSION OF ORDER FORM
          %p
            If you do not wish to register, but would still like service information, all you need to do is to use the live chat facility or send us an email to info@gameshow.co.uk.
            If you specify on the "Cardholder Details" page that you are interested in receiving news from Game Show, your personal data will be used and transferred for direct marketing purposes. Except as expressly stated in this Privacy and Cookies Policy and in our Terms and Conditions we will not send you email messages or junk mail, and your details will not be passed to ANY organisation beyond Game Show without your explicit permission.
  
    .article
      %h3.acticleTitle 6. TRANSFER OF THE DATA COLLECTED VIA THE SITE TO THIRD PARTIES
      %p Data collected by web servers and cookies are not transferred to any third parties.
      %p Data collected on sending an email may be provided, to the extent necessary to handle your Order, to our offices or laboratories (including those of our affiliates, agents or representatives) as well as vendors whose assistance is needed to handle your query.
      %p Data collected through the Site may also be transferred to others from time to time in the following cases as needed to perform the data processing purposes described in this Policy:
      %ol
        %li at your request, on your order or subject to your prior agreement, to recipients specified by you;
        %li to authorised third parties in compliance with our statutory or regulatory obligations;
        %li to recipients who are operators acting on our behalf in their capacity as agent, authorised proxy, sub-contractor, service provider or in any other capacity, including suppliers in charge of hosting or maintaining the site;
        %li to our laboratories;
        %li other third party businesses selected by us for the purposes of direct marketing, if you tick in the relevant box on the "Cardholder Details Page" page;
        %li in case of a change of control or acquisition or the whole or part of the assets or business of Game Show Ltd., the data collected through this site will be transferred to the acquiring entity.
  
    .article
      %h3.acticleTitle 7. TRANSFERRING YOUR DATA OUTSIDE EUROPE
      %p Currently we do not transfer your data outside Europe.
  
    .article
      %h3.acticleTitle 8. SUBJECT ACCESS RIGHTS
      %p
        At law you have the following rights
        %ul
          %li a subject access right which enables you to be told whether we hold any personal data about you and to obtain a copy of that information;
          %li a right to get personal data relating to you rectified, completed, updated, blocked or erased when incomplete, unclear, obsolete or processed unlawfully;
          %li a right to object to the processing of data relating to you on legitimate grounds and a right to object free of charge to the use of data for solicitation purposes.
          %li We will comply with such rights as provided under applicable law. If you wish to exercise your subject access right, please contact us in writing at the address set out on the Site with sufficient information to identify yourself and the information you require. We will respond to your request within 40 days. We reserve the right to charge £10 for complying with a subject access request.
  
    .article
      %h3.acticleTitle 9. SECURITY
      %p Except if provided to others in the circumstances set out in this Policy, the data supplied by you will be kept on the Site’s secured servers and computer systems, protected from outside intrusions.
    
    .article    
      %h3.acticleTitle 10. LINKS FROM THE WEBSITE TO OTHER WEBSITES
      %p The Site may contain links to the websites of our business partners, advertisers or other third parties. We do not control the privacy policies or the terms of use of the websites reached through the links from the Site. These may differ from the policy and terms of use of the Site. You will need to determine if they are acceptable to you and your Company. We accept no responsibility for the content or the privacy practices employed by such other websites.
        
    .article
      %h3.acticleTitle 11. CHANGES TO THIS PRIVACY AND COOKIE POLICY
      %p We reserve the right to make changes to this Policy from time to time and reserve the right to do so. Any changes to the Policy will appear on this page, which you should check from time to time. By continuing to use the site you are deemed to accept changes to this Policy.
  
    .article.noBorder
      %h3.acticleTitle 12. CONTACTING US
      %p If you have any questions about any aspect of this Policy or want to discuss how we handle your data you can contact us by email, post or telephone.