.contentPage
  %h2.title Rulebook
  .content.rulebook
    .article
      %h6.articleTitle The Game
      %ul
        %li The game is a trivia skill game based on a standard question-and-answer format, but is designed for multiple different types of players: those playing for the enjoyment of the game, those playing for maximum points, and those playing tactically to win money.
        %li Each question is given in a standard trivia-type format and is presented with a standard number of multiple choice different possible answers.
        %li Questions are drawn from a database containing thousands of trivia content questions, most of them created especially for the game.
        %li Each question has a time limit on it.
        %li The aim is to answer as many questions as possible.
        %li If players answer correctly and within the time limit, players get another question.
        %li Each question is an opportunity to accumulate more points to their total score for the game.
        %li Players start the game with a number of passes.
        %li Players receive an infinite amount of new questions until they either get a question wrong or run out of time on a single question
        %li If either of these things happens, then their game ends and their final score is calculated.
        %li So the game produces an opportunity to infinitely improve players score
    .article
      %h6.articleTitle Scoring Points in the Game
      %ul
        %li As time diminishes, points count down, and players keep the remainder that is left over when players answer correctly.
        %li Before each question appears, a message appears on screen saying how quickly on average this question has been answered correctly, and the fastest time it has ever been answered in.
        %li Players get a bonus if they set the new best time
        %li Players get another bonus if they beat the average time it’s taken everyone to answer that question
        %li If players set the best time, then they will also get the average time bonus
        %li Every time the question is answered correctly, the game-engine recalculates the average time for that question based on this new data, for the next time the question is posed.
    .article
      %h6.articleTitle On the Ladder
      %ul
        %li The ladder is a fluid, ever changing, moving leaderboard, rather like a squash ladder. Other player’s, or wingmen’s, score changing may affect players at any point.
        %li There is one global ladder which everyone joins
        %li The score attained taking this game reveals players position on the ladder.
        %li If players share the same score as someone else, the person who set that score last takes the lead.
        %li The higher up on the ladder a player is, the more prize money they will win when the tournament ends, and the ladder freezes.
        %li The tournament ends when the tournament timer at the top of the ladder zeroes.
        %li There are 2 ways that players can try to increase their score (and positioning on the ladder):
        %li.blueItem Players can re-take the general knowledge quiz to try to improve their score. The highest score achieved in the game exists as the current score for the ladder, even if a player subsequently score less in a game
        %li.blueItem Players can invite up to 2 friends to play. Players should choose their brightest friends, because wingmen’s scores get added to their (invited wingmen also appear on the ladder under their own name and have the chance to create their own score, and invite their own wingmen).
        %li Before the tournament ends, players may retake the game as many times as they like, to try and improve their score and players will never be shown the same questions twice.
    .article
      %h6.articleTitle Wingmen
      %ul
        %li Players can invite as many wingmen as they like through their facebook account. The first two to play, who are not already on the ladder, become player’s wingmen.
        %li Once a wingman has accepted an invitation, players cannot swap them or delete them for the duration of the tournament
    .article
      %h6.articleTitle Tips
      %ul
        %li.blueItem Get an advance idea of how difficult the question is by glancing at the position of the fastest time bonus on the scorer. It flies up first so players’ know when split second decision making is required to get that bonus!
        %li.blueItem The game rewards people who have genuine general knowledge because those that instinctively know the answer will be faster. Because the questions get harder and harder, if players don’t know the answer, then it can become a difficult decision whether to Google, or risk a quick guess for maximum points.
        %li.blueItem Most of the questions can to some extent be worked out. If players see a question they can’t answer, don’t panic! Try eliminating other answers, or use a pass.
        %li.blueItem Newly written questions have default fastest and average time bonuses,  until their first play, so the earlier players play in a tournament, the greater their chances of seeing one of these questions and having an increased chance of getting a bonus.
        %li.blueItem Although it’s a solo game, players are actually playing against the crowd. Keep an eye on the dashboard on the left to see how many more points are needed to move up in the ladder and win money.
    .article
      %h6.articleTitle Pricing
      %ul
        %li At each tournament, each player receives a standard number of free plays.
        %li Further games cost and are charged per game
        %li Credits may be given out by the game (e.g. on invitation/acceptance of wingmen, or for marketing purposes)
    .article.noBorder
      %h6.articleTitle Winning
      %ul
        %li.blueItem The player who is at the top of the ladder after a predetermined amount of time, wins.
        %li.blueItem Players who occupy winning positions (where there is a prize attached to it), also win at that point.
        %li The winner should be the player who:
        %li.blueItem Takes the quiz and retakes the quiz until they have achieved their very best score
        %li.blueItem Identifies their smartest friends and brings them into the game
        %li.blueItem They, in turn take and retake the quiz until they have achieved their very best score
        %li.blueItem If the combination results in the highest score on the ladder, then the player who is displayed in the ladder position wins.
        %li Even though players are helped by wingmen, winnings are paid to the individual player displayed on their ladder position only. It is then up to that player to decide if they wish to keep the winnings or thank their wingmen with a share of the proceeds.
        %li Winnings are paid by cheque in the post, no longer than 2 weeks after the tournament closes. Players should fill out their name and postal address in the ‘my account’ form.
    .push