.contentPage
  %h2.title Game Show Ltd.
  .content
    .article
      %h3.articleTitle Site Terms of Use for www.gameshow.co.uk (the "Site")
      %p Your access to, and use of, the Site constitutes your acceptance, without limitation or qualification, of these Terms of Use. If you have any questions about the Terms of Use, please Contact Us.

    .article
      %h3.articleTitle Who runs the Site?
      %p 
        Thank you for accessing the Site which is owned and operated by Game Show Ltd., a company incorporated in England (registered number 07791884), having offices at
        Hub Westminster, First Floor, New Zealand House, 80 Haymarket, London, SW1Y 4TE
        and trading under the name www.gameshow.co.uk. ("Game Show").

    .article
      %h3.articleTitle Who may use the Site?
      %p The Site is for visitors who wish to find out more about Game Show and for private consumers who wish to purchase Game Show's products ("you") using this Site. You should read these Terms of Use in conjunction with the Privacy & Cookie Policy, which is incorporated in these Terms of Use by reference.

    .article
      %h3.articleTitle Your Right to Use the Site
      %p Subject to these Terms of Use, Game Show grants to you a right to access the Site for the purposes of viewing the website and making purchases of skill games on the Site. You may only use the Site for lawful purposes, and in a manner which does not infringe the rights of, or restrict or inhibit the use and enjoyment of the Site by, any third party. You agree not to interrupt or attempt to interrupt the operation of the Site in any way. Placement of an order via the Site will not result in a binding contract until the goods are dispatched to you by Game Show. Game Show uses reasonable endeavours to ensure the accuracy of the prices and price related information stated on the Site, but cannot guarantee that you will not encounter a mispriced item. If an item is mispriced, Game Show will contact you and give you the choice to accept the correct price or to cancel the order.
    
    .article      
      %h3.articleTitle Changes to the Terms of Use
      %p Game Show reserve the right, at its sole discretion, to change, add to or delete any or all of these Terms of Use at any time without prior notice, and will post these changes on the Site. Your continued use of the Site after such changes have been posted will constitute your acceptance of those changes. Additional Terms of Use You agree to abide by all additional terms of use displayed in the Site, as they may be updated from time to time. In case of differences or discrepancies between these Terms of Use and the terms governing such specific parts of the Site, the latter shall prevail in respect of your visit to the relevant specific parts of the Site only.
    
    .article  
      %h3.articleTitle Copyright
      %p The Site's design, names, text, images, graphics, logo and the arrangement of the same ("the Materials") are all owned by, or licensed to, Game Show or otherwise used by Game Show as permitted by applicable law. The Materials may not be reproduced for any commercial or public purpose, republished, posted, broadcast, distributed or transmitted by you, or provided by you to any third party without the express written consent of Game Show.
      
    .article
      %h3.articleTitle Trademarks
      %p Except as expressly provided in these Terms of Use, Game Show does not grant any express or implied right to you under any patents, trademarks, copyrights or trade secret information, and you must not use the "Game Show" name or any other registered or unregistered trade marks displayed on the Site without the prior written consent of an authorized officer of Game Show.
      
    .article
      %h3.articleTitle No Warranty
      %p Game Show is providing the Site and its contents on an "as is"and an "as available" basis, without any representation or warranty of any kind, whether express or implied, including, but not limited to, warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security, accuracy, merchantability or title in relation to the Site. For the avoidance of doubt, this exclusion does not apply to services sold via the Site. The content of the Site may contain inaccuracies and typographical errors. Game Show tries to ensure, but cannot guarantee, the accuracy, truthfulness or completeness of the content or the reliability of any advice, opinion or other information displayed or distributed on the Site. Any of Game Show information or other content contained within the Site is correct to its knowledge, but Game Show accepts no responsibility for any errors or omissions therein. Game Show reserves the right, at its sole discretion, to make improvements to, or correct any errors or omissions in any portion of the content and to make any other changes to the Site, materials, tools, products, services and prices displayed or described on the Site at any time, without notice. Game Show does not warrant uninterrupted or error free use of the Site, that defects will be corrected, or that the Site or the server that makes it available or files available for downloading from the Internet are free of infection or viruses, worms, Trojan horses or other code that manifest contaminating or destructive properties. Game Show does not assume any responsibility or risk for your use of the Internet.
      
    .article
      %h3.articleTitle Third Party Sites and Content
      %p As a convenience to you, Game Show may provide, on the Site, links to sites operated by other entities as well as network content provided, uploaded, published, or distributed by users and other participants in the Site ("Third Party Content"). If you use these sites, you will leave the Site. If you decide to visit any linked site or decide to use any of the Third Party Content, you do so at your own risk and it is your responsibility to review their terms of use and privacy policy and to take all protective measures to guard against viruses or other destructive elements. Game Show is not a publisher of any such content. Such Third Party Content and all information contained on the linked sites contain the views, opinions, statements, offers, and other material of the respective users, participants or authors. Game Show makes no warranty or representation regarding, and does not endorse, any linked sites, any Third Party Content or other information appearing thereon or any of the products or services described thereon. Neither the use of Third Party Content nor links imply that Game Show, or any of the Site's sponsors, endorses, is affiliated or associated with, or is legally authorized to use any trade mark, trade name, logo or copyright symbol displayed in or accessible through the links, or that any provider of Third Party Content or any linked site is authorized to use any trade mark, trade name, logo, or copyright symbol of Game Show or any of its affiliates or subsidiaries.
      
    .article
      %h3.articleTitle Information you submit to the Site
      %p All information Game Show asks you to submit to the Site will be treated in accordance with the Privacy & Cookie Policy. Please note, Game Show will fully cooperate with any law enforcement authorities or court orders requesting or directing it to disclose information (including personal data) that Game Show have obtained through your use of the Site. All information you submit to the Site, whether solicited or unsolicited will not be regarded as confidential.
      
    .article
      %h3.articleTitle Limitation of Liability
      %p To the fullest extent permitted by law, Game Show, its affiliates, licensors, service providers, content providers and their employees, agents, officers and directors will not be liable for any direct, indirect, consequential, or special loss or damage, and/or business interruption, or loss of profits, data, goodwill, information or programs or your information handling system, or for pain and suffering or emotional distress arising out of or in connection with the use of, or inability to use, the Site, its content, materials or functions, or any other loss or damage of any kind, whether in action of contract, negligence or other tortious action, or otherwise. Nothing in these Terms of Use shall prevent you from claiming for loss suffered pursuant to contracts between you and Game Show for sale of goods in accordance with the Terms and Conditions of Supply.
      
    .article
      %h3.articleTitle Changes to the Site
      %p Game Show may terminate, change, suspend or discontinue any aspect of the Site at any time. Game Show may also impose limits on certain features and services and/or restrict access to parts or all of the Site without notice or liability. Game Show reserve the right to terminate your secure log-in and suspend your access to secure areas of the Site upon becoming aware that you have breached these Terms of Use.
      
    .article
      %h3.articleTitle No Waiver
      %p No waiver by Game Show of any breach of any obligation arising under these Terms of Use shall constitute a waiver of any other breach and no failure to exercise or to partially exercise by Game Show of any remedy shall constitute a waiver of the right subsequently to exercise that or any other remedy.
      
    .article
      %h3.articleTitle Governing Law and Jurisdiction
      %p These Terms of Use shall be governed by and construed in accordance with the laws of England. The courts of England are to have exclusive jurisdiction to settle any disputes arising out of or in connection with the use of the Site.
      
    .article.noBorder
      %h3.articleTitle Severability
      %p If any of these Terms of Use should be determined to be illegal, invalid, or otherwise unenforceable by reason of the laws of any jurisdiction in which these Terms of Use are intended to be effective, then to the extent that, and within the jurisdiction which that Term is illegal, invalid or unenforceable, it shall be severed and deleted from these Terms of Use and the remaining Terms of Use shall survive, remain in full force and effect, and continue to be binding and enforceable.