%br
%br
#error{:style => "text-align: center"}
  %h2
    Payment status update
  %br
  .error
    We did not receive your payment yet, but don't worry, you will be credited later, once your payment is processed.
