%p
  Game Show is a 10 day experiment by 
  = link_to 'Jamie Murray Wells', 'http://en.wikipedia.org/wiki/James_Murray_Wells', :target => "_blank"  
%p
  The word 'GameShow' is a trade mark (CTM no. 006281802) of Game Show Ltd (Company no. 07791884).
  %br
  = link_to 'Privacy', '/pages/privacy'
  |
  = link_to 'Terms', '/pages/terms'
  |
  = link_to 'Rulebook', '/pages/rulebook'