%p
  =link_to 'New fight',new_admin_fight_path
  |
  =link_to 'Fights',admin_fights_path
  |
  =link_to 'Votes',admin_votes_path
  |
  =link_to 'Suggestions',admin_suggestions_path
  |
  =link_to 'Log out',destroy_user_session_path
